wwise/Authoring/Data/Schemas/SoundBanksInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SoundBanksInfo">
		<xs:annotation>
			<xs:documentation>Copyright (C) Audiokinetic Inc.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RootPaths">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ProjectRoot" type="xs:string"/>
							<xs:element name="SourceFilesRoot" type="xs:string"/>
							<xs:element name="SoundBanksRoot" type="xs:string"/>
							<xs:element name="ExternalSourcesInputFile" type="xs:string"/>
							<xs:element name="ExternalSourcesOutputRoot" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="DialogueEvents" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="DialogueEvent">
								<xs:complexType>
									<xs:complexContent mixed="false">
										<xs:extension base="NameID">
											<xs:sequence minOccurs="0" maxOccurs="unbounded">
												<xs:element name="Argument" type="NameID" />
											</xs:sequence>
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="StreamedFiles" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="File">
								<xs:complexType>
									<xs:complexContent mixed="false">
										<xs:extension base="FileDescriptorType">
											<xs:attribute name="UsingReferenceLanguageAsStandIn" type="xs:boolean" use="optional" />
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="MediaFilesNotInAnyBank" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="File">
								<xs:complexType>
									<xs:complexContent mixed="false">
										<xs:extension base="FileDescriptorType">
											<xs:attribute name="UsingReferenceLanguageAsStandIn" type="xs:boolean" use="optional" />
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SoundBanks">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="SoundBank">
								<xs:complexType>
									<xs:complexContent mixed="false">
										<xs:extension base="FileDescriptorType">
											<xs:sequence>
												<xs:element name="IncludedEvents" minOccurs="0">
													<xs:complexType>
														<xs:sequence minOccurs="0" maxOccurs="unbounded">
															<xs:element name="Event">
																<xs:complexType>
																	<xs:complexContent mixed="false">
																		<xs:extension base="NameID" >
																			<xs:attribute name="MaxAttenuation" type="xs:double" use="optional" />
																			<xs:attribute name="DurationType" type="xs:string" use="optional" />
																			<xs:attribute name="DurationMin" type="xs:string" use="optional" />
																			<xs:attribute name="DurationMax" type="xs:string" use="optional" />
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="IncludedDialogueEvents" minOccurs="0">
													<xs:complexType>
														<xs:sequence minOccurs="0" maxOccurs="unbounded">
															<xs:element name="DialogueEvent">
																<xs:complexType>
																	<xs:complexContent mixed="false">
																		<xs:extension base="NameID" />
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="ReferencedStreamedFiles" minOccurs="0">
													<xs:complexType>
														<xs:sequence minOccurs="0" maxOccurs="unbounded">
															<xs:element name="File">
																<xs:complexType>
																	<xs:complexContent mixed="false">
																		<xs:extension base="FileDescriptorType">
																			<xs:attribute name="UsingReferenceLanguageAsStandIn" type="xs:boolean" use="optional" />
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="IncludedMemoryFiles" minOccurs="0">
													<xs:complexType>
														<xs:sequence minOccurs="0" maxOccurs="unbounded">
															<xs:element name="File">
																<xs:complexType>
																	<xs:complexContent mixed="false">
																		<xs:extension base="FileDescriptorType">
																			<xs:attribute name="UsingReferenceLanguageAsStandIn" type="xs:boolean" use="optional" />
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="ExcludedMemoryFiles" minOccurs="0">
													<xs:complexType>
														<xs:sequence minOccurs="0" maxOccurs="unbounded">
															<xs:element name="File">
																<xs:complexType>
																	<xs:complexContent mixed="false">
																		<xs:extension base="FileDescriptorType">
																			<xs:attribute name="UsingReferenceLanguageAsStandIn" type="xs:boolean" use="optional" />
																		</xs:extension>
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
												<xs:element name="ExternalSources" minOccurs="0">
													<xs:complexType>
														<xs:sequence minOccurs="0" maxOccurs="unbounded">
															<xs:element name="Source">
																<xs:complexType>
																	<xs:complexContent mixed="false">
																		<xs:extension base="NameID" />
																	</xs:complexContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="Align" type="xs:unsignedInt" use="optional" />
											<xs:attribute name="DeviceMemory" type="xs:boolean" use="optional" />
										</xs:extension>
									</xs:complexContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Platform" type="xs:string" use="required" />
			<xs:attribute name="BasePlatform" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PS3" />
						<xs:enumeration value="Wii" />
						<xs:enumeration value="Windows" />
						<xs:enumeration value="Xbox360" />
						<xs:enumeration value="Mac" />
						<xs:enumeration value="VitaSW" />
						<xs:enumeration value="VitaHW" />
						<xs:enumeration value="PS4" />
						<xs:enumeration value="iOS" />
						<xs:enumeration value="3DS" />
						<xs:enumeration value="WiiUSW" />
						<xs:enumeration value="WiiUHW" />
						<xs:enumeration value="Android" />
						<xs:enumeration value="XboxOne"/>
						<xs:enumeration value="Linux"/>
						<xs:enumeration value="WindowsPhone"/>
						<xs:enumeration value="Switch"/>
						<xs:enumeration value="Emscripten"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SchemaVersion" type="xs:unsignedInt" use="required" />
			<xs:attribute name="SoundbankVersion" type="xs:unsignedInt" use="required" />
		</xs:complexType>
	</xs:element>
	<xs:complexType name="FileDescriptorType">
		<xs:sequence>
			<xs:element name="ObjectPath" type="xs:string" minOccurs="0"/>
			<xs:element name="ShortName" type="xs:string" minOccurs="0"/>
			<xs:element name="Path" type="xs:string" nillable="true" minOccurs="0"/>
			<xs:element name="PrefetchSize" type="xs:unsignedInt" nillable="true" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Id" type="xs:unsignedInt" use="required" />
		<xs:attribute name="Language" type="xs:string" use="optional" />
		<xs:attribute name="GUID" type="xs:string" use="optional" />
	</xs:complexType>
	<xs:complexType name="NameID">
		<xs:attribute name="Id" type="xs:unsignedInt" use="required" />
		<xs:attribute name="Name" type="xs:string" use="required" />
		<xs:attribute name="ObjectPath" type="xs:string" use="optional" />
		<xs:attribute name="GUID" type="xs:string" use="optional" />
	</xs:complexType>
</xs:schema>